asgiref==3.7.2
black==24.3.0
click==8.1.7
colorama==0.4.6
crispy-bootstrap4==2024.1
Django==4.2.11
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
flake8==7.0.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
pycodestyle==2.11.1
pyflakes==3.2.0
python-dotenv==1.0.1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.10.0
tzdata==2024.1
