{% extends "base.html" %}

{% block content %}

  <h1 style="text-align: center">Do you want to make task DONE?</h1>
  <br>
  <div class="d-flex justify-content-center">
    {% if request.user in task.assignees.all or request.user == task.creator %}

      <form action="{% url 'task_manager:task-done' task.id %}" method="post">
        <a href="{% url 'task_manager:task-detail' task.id %}" class="btn  btn-outline-info">
        Return
      </a>
        <button  class="btn  btn-outline-success" type="submit"
        >DONE
        </button>
        {% csrf_token %}
      </form>
    {% endif %}
  </div>

{% endblock %}
