{% extends "base.html" %}
{% load static %}


{% block content %}
  <div style="text-align: center; margin: 30px">
    <div style="text-align: center" id="w-node-f6d7dc5e-fa02-4c77-dcdc-aba13211684e-20a07cad" class="hero-left-column">
      <img
      src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/63f763961de3933df9d42e19_skelar.svg"
      loading="lazy" alt="Skelar Logo Full" class="hero__logo1">
    </div>

  </div>
  <hr>
  <h1 style="text-align: center">Welcome to Task Manager for
    <div style="display: inline;color: red">Skelar</div>
  </h1>
  <a href="https://www.skelar.tech/">
    <div style="float: right; margin-right: 10px" class="div-block-53 hidden"><img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/63f7a5dfa7c9a1f8161097da_arrow-hero.svg"
    loading="lazy" alt="Arrow Red"></div>
  </a>
  <br>
  <div style="margin: 15px">
    <p style="text-align: right; margin-right: 10px">Text copied from <a href="https://www.skelar.tech/">skelar.tech</a>
    </p>
    <h5>Today, our portfolio includes a dozen businesses in various niches — from EdTech to SaaS. Our approach is
      simple:
      big markets, ambitious goals, strong teams. And our key expertise is modern technology, deep analytics and fast
      scaling.</h5>
    <br>
    <h5>Together with our co-founders, we assemble strong teams to launch product IT businesses and win in global
      markets</h5>

    <br>

    <h5>Our team already has more than 500 employees and we are doubling in size every year. We are always looking for
      real high-performers, because we are planning a big future: in five years we plan to build 10 Ukrainian food
      companies.</h5>
    <br>
  </div>
  <hr>
  <h1 style="text-align: center">Our products</h1>
  <br>
  <br>
  <div style="text-align: center">



    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/63fb2f1655817fbb3c0cdc71_Frame%204.svg"
    loading="lazy" alt="AlphaNovel Logo" class="image-18">

    <h3 class="portfolio_heading d-inline">AlphaNovel</h3>


    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/63fb2f163efb7279f8410912_Frame%205.svg"
    loading="lazy" alt="Howly Logo" class="image-18">

    <h3 class="portfolio_heading d-inline">Howly</h3>

    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/63fb2f1669b16e5592e2e8b4_Frame%201.svg"
    loading="lazy" alt="Brighterly Logo" class="image-18">

    <h3 class="portfolio_heading d-inline">Brighterly</h3>





    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/650aa6dffdc5045f2bb78060_STLogoblack.png"
    loading="lazy" alt="Brighterly Logo" class="image-18">

    <h3 class="portfolio_heading d-inline">SocialTech</h3>


    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/63fb2f17478a969d537956f7_Frame%206.svg"
    loading="lazy" alt="DoggyPlan Logo" class="image-18">

    <h3 class="portfolio_heading d-inline">DoggyPlan</h3>


    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/658330e8c4af6ea08ae37701_Live-logo-black.png"
    loading="lazy"
    srcset="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/658330e8c4af6ea08ae37701_Live-logo-black-p-500.png 500w, https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/658330e8c4af6ea08ae37701_Live-logo-black-p-800.png 800w, https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/658330e8c4af6ea08ae37701_Live-logo-black.png 964w"
    alt="DoggyPlan Logo" sizes="(max-width: 479px) 60px, (max-width: 1279px) 70px, (max-width: 1439px) 5vw, 70px"
    class="image-18 liven">


    <h3 class="portfolio_heading d-inline">Liven</h3>

  </div>



{% endblock %}
