{% extends "base.html" %}

{% block content %}
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
  <h1 style="text-align: center">Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків Головна сторінка Менеджера тасків</h1>
{% endblock %}

