{% extends "base.html" %}
{% load static %}


{% block content %}
  <br>
  <h1 style="text-align: center">
    <div style="display: inline;color: red">Support</div>
  </h1>
  <hr>
  <br>
  <div style="margin: 15px">
  <a href="https://www.skelar.tech/">
    <div style="float: right; margin-right: 10px" class="div-block-53 hidden"><img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/63f7a5dfa7c9a1f8161097da_arrow-hero.svg"
    loading="lazy" alt="Arrow Red"></div>
  </a>
    <p style="text-align: right; margin-right: 10px">Text copied from <a href="https://www.skelar.tech/">skelar.tech</a>
    </p>

    <h5>We continue to develop product IT businesses, conquer global markets and work for the victory of Ukraine!</h5>
    <br>
    <br>
    <h5>For this, we have created all the possibilities inside our venture builder:</h5>

    <div class="section card d-flex">
      <ul class="row  m-4">
        <li class="item"><i style="background: rgb(28, 28, 28); color: #fff;" class="fa fa-laptop"></i>
          <p>8 infrastructure teams that help startups close any issue: from recruiting to finance and legal issues</p>
        </li>
        <li class="item"><i style="background: rgb(28, 28, 28); color: #fff;" class="fa fa-users"></i>
          <p>A community of founders who have already launched more than one business and can share practical
            experience</p></li>
        <li class="item"><i style="background: rgb(28, 28, 28); color: #fff;" class="fa fa-child"></i>
          <p>Internal clubs by professional areas: marketing, development, finance, recruiting</p></li>
        <li class="item"><i style="background: rgb(28, 28, 28); color: #fff;" class="fa fa-mortar-board"></i>
          <p>Trainings, courses, attending conferences</p></li>
        <li class="item"><i style="background: rgb(28, 28, 28); color: #fff;" class="fa fa-medkit"></i>
          <p>Medical insurance, corporate doctor and psychologist</p></li>
        <li class="item"><i style="background: rgb(28, 28, 28); color: #fff;" class="fa fa-laptop"></i>
          <p>Provision of Apple equipment</p></li>
      </ul>
    </div>

    <h5></h5>
    <br>
    <h5>In addition to businesses, we are developing our own charitable fund SKELAR foundation to support the Armed
      Forces. Within the framework of the initiative, we create and finance large projects that help bring our victory
      closer 💪🇺🇦
    </h5>

    <br>
    <br>

    <h5>SKELAR is an environment for self-realization of people who are able to build successful companies. We call such
      companies the next big everything. We believe in their power and scale.
    </h5>
    <br>
  </div>
  <hr>
  <h1 style="text-align: center">Our products</h1>
  <br>
  <br>
  <div style="text-align: center">


    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/63fb2f1655817fbb3c0cdc71_Frame%204.svg"
    loading="lazy" alt="AlphaNovel Logo" class="image-18">

    <h3 class="portfolio_heading d-inline">AlphaNovel</h3>


    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/63fb2f163efb7279f8410912_Frame%205.svg"
    loading="lazy" alt="Howly Logo" class="image-18">

    <h3 class="portfolio_heading d-inline">Howly</h3>

    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/63fb2f1669b16e5592e2e8b4_Frame%201.svg"
    loading="lazy" alt="Brighterly Logo" class="image-18">

    <h3 class="portfolio_heading d-inline">Brighterly</h3>


    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/650aa6dffdc5045f2bb78060_STLogoblack.png"
    loading="lazy" alt="Brighterly Logo" class="image-18">

    <h3 class="portfolio_heading d-inline">SocialTech</h3>


    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/63fb2f17478a969d537956f7_Frame%206.svg"
    loading="lazy" alt="DoggyPlan Logo" class="image-18">

    <h3 class="portfolio_heading d-inline">DoggyPlan</h3>


    <img
    src="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/658330e8c4af6ea08ae37701_Live-logo-black.png"
    loading="lazy"
    srcset="https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/658330e8c4af6ea08ae37701_Live-logo-black-p-500.png 500w, https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/658330e8c4af6ea08ae37701_Live-logo-black-p-800.png 800w, https://assets-global.website-files.com/63f5f9fd64b1330b28a07cac/658330e8c4af6ea08ae37701_Live-logo-black.png 964w"
    alt="DoggyPlan Logo" sizes="(max-width: 479px) 60px, (max-width: 1279px) 70px, (max-width: 1439px) 5vw, 70px"
    class="image-18 liven">


    <h3 class="portfolio_heading d-inline">Liven</h3>

  </div>



{% endblock %}
